@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    background-color: #ffffff;
    color: #01a7a6;
    height: 100%;
    font-family: Roboto, sans-serif;
}

#root {
    margin: auto;
    width: 60%;
    border: #01a7a6;
    padding: 15px;
    height: 100%;
    text-align: center;
}

#title-logo {
    width: 50%;
}
